<div class="Container">
  <div class="PageContent PageContent--narrow">
    <header class="PageHeader">
	  <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1">SIZE NOT IN STOCK?</h1>
      <div>
    <header>
      <p>Select your desired product/size and enter your email address(phone number) below to receive an instant notification when this product is next available.</p>
      <div class="Rte">
            <div class="Rte">
      {{- page.content -}}

      {%- form 'contact', class: 'Form Form--spacingTight' -%}
        {%- if form.posted_successfully? -%}
          <p class="Alert Alert--success">{{ 'contact.form.successfully_sent' | t }}</p>
        {%- endif -%}

        {%- if form.errors -%}
          <div class="Form__Alert Alert Alert--error">
            <ul class="Alert__ErrorList">
              {%- for field in form.errors -%}
                {%- if field == 'form' -%}
                  <li class="Alert__ErrorItem">{{ form.errors.messages[field] }}</li>
                {%- else -%}
                  <li class="Alert__ErrorItem"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}

        <div class="Form__Group">      
          <div class="Form__Item">
            <div class="Form__Select Select Select--primary">
              {%- render 'icon' with 'select-arrow' -%}
  
              <select name="product_name" class="product_name" required>
                <option value="" disabled selected>Select a Product</option>
                <option value="Caesar 1 KK9R">Caesar 1 KK9R</option>
                <option value="Caesar 1 Taro">Caesar 1 Taro</option>
                <option value="Caesar 1 Black">Caesar 1 Black</option>
                <option value="Caesar 1 Blush">Caesar 1 Blush</option>
                <option value="Caesar 1 Bone">Caesar 1 Bone</option>
                <option value="Caesar 1 Birch">Caesar 1 Birch</option>
                <option value="Caesar 1S Midnight">Caesar 1S Midnight</option>
                <option value="Caesar 1S Guava">Caesar 1S Guava</option>
                <option value="Caesar 1S Borough">Caesar 1S Borough</option>
                <option value="Caesar 1S Ice">Caesar 1S Ice</option>
                <option value="Caesar 1S Bolt">Caesar 1S Bolt</option>
              </select>
            </div>
          </div>

          <div class="Form__Item">
            <div class="Form__Select Select Select--primary">
              {%- render 'icon' with 'select-arrow' -%}
  
              <select name="size_name" class="size_name" required>
                <option value="" disabled selected>Select a Size</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="0/1">0/1</option>
                <option value="1/2">1/2</option>
                <option value="2/3">2/3</option>
                <option value="3/4">3/4</option>
                <option value="4/5">4/5</option>
                <option value="5/6">5/6</option>
                <option value="6/7">6/7</option>
              </select>
            </div>
          </div>    
        </div> 
              
        <div class="Form__Group">
          <div class="Form__Item">
            <input type="email" class="Form__Input" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" {% if customer %}value="{{ customer.email }}"{% endif %}>
          </div>

          <div class="Form__Item">
            <input type="tel" class="Form__Input" name="contact[phone]" placeholder="Phone Number" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
          </div>
        </div>      
   
        <div class="Form__Item" style="text-align: left;">
          <input type="checkbox" id="sold_out_accept" name="contact[checkbox]" value="Keep me in the loop on future product drops and Represent updates." required>
          <label for="sold_out_accept">Keep me in the loop on future product drops and Represent updates.</label>
        </div>

        <button type="submit" class="Form__Submit Button Button--primary Button--full">Submit</button>
      {%- endform -%}
    </div>

  </div>
  
</div>

<script>
  $(document).ready(function(){
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    $('select.product_name').val(params.p);
    $('select.size_name').val(params.s);
  });
</script>  

{% schema %}
{
  "name": "Sold Out Contact page",
  "settings": [],
  "blocks": [
    {
      "type": "text",
      "name": "Text field",
      "settings": []
    }
  ]
}
{% endschema %}